{% extends 'users/base.html' %} {% block body %}
<!-- <form method="POST">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Submit</button>
</form> -->
<div class="flex justify-center m-4">
  <h3 class="font-bold text-2xl">Change Password</h3>
</div>
<form
  class="max-w-md mx-auto my-4 p-4 bg-white rounded shadow-xl"
  method="POST"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <div class="mb-4">
    <label for="first_name" class="block text-gray-700 font-bold mb-2"
      >Old Password</label
    >{{form.old_password}}
  </div>
  <div class="mb-4">
    <label for="first_name" class="block text-gray-700 font-bold mb-2"
      >New Password</label
    >{{form.new_password1}}
  </div>
  <div class="mb-4">
    <label for="first_name" class="block text-gray-700 font-bold mb-2"
      >Confirm New Password</label
    >{{form.new_password2}}
  </div>
  <div class="text-red-500 mb-4">
    {% if form.errors %}
    <!-- Display each error in the password field with a message below it-->
    {% for field in form %} {{field.errors }} {% endfor %} {% endif %}
  </div>
  <button
    type="submit"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline w-full"
  >
    Change Password
  </button>
</form>
<style>
  input:focus {
    outline: none;
    border: 2px solid blue;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
  }
</style>
{% endblock%}
