{% extends 'users/base.html' %} {% block body %}
<div class="w-full max-w-xs mx-auto my-4">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST">
    {% csrf_token %}

    <div class="mb-4">
      <label
        class="text-gray-700 font-bold mb-2"
        for="{{ user_form.username.id_for_label }}"
      >
        Username
      </label>
      <div class="my-2 appearance-none shadow rounded">
        {{ user_form.username }}
      </div>
    </div>

    <div class="mb-4">
      <label
        class="text-gray-700 font-bold mb-2"
        for="{{ user_form.email.id_for_label }}"
      >
        Email
      </label>
      <div class="my-2 appearance-none shadow rounded">
        {{ user_form.email }}
      </div>
    </div>

    <div class="mb-6">
      <label
        class="text-gray-700 font-bold mb-2"
        for="{{ user_form.password1.id_for_label }}"
      >
        Password
      </label>
      <div class="my-2 appearance-none shadow rounded">
        {{ user_form.password }}
      </div>
    </div>

    <div class="mb-6">
      <label
        class="text-gray-700 font-bold mb-2"
        for="{{ user_form.password2.id_for_label }}"
      >
        Confirm Password
      </label>
      <div class="my-2 appearance-none shadow rounded">
        {{ user_form.password2 }}
      </div>
    </div>

    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline w-full"
    >
      Register
    </button>
  </form>
  <style>
    input:focus {
      outline: none;
      border: 2px solid blue;
      border-radius: 5px;
      box-sizing: border-box;
      width: 100%;
    }
  </style>
</div>
{% endblock%}
